//Colors
$background-color: #a3abad;
$nav-color: #697f8c;
$nav-text-color: #000;
$active-background-color: #334154;
$active-text-color: #eee;

//Fonts
$header-font: 'Open Sans', sans-serif;
$text-font: 'PT Serif', serif;

$letter-space-btn: 0.05rem;
